* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Header and Navigation Styles */
.logo img{
    width: 139px;
    height: 60px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    background-color: #ffffff;
}
nav {
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}
.nav-btn {
      background-color: #469165;
      border: none;
      border-radius: 4px;
      height: 44px;
      padding: 12px 16px;
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      cursor: pointer;

}  
/* Hero Section Styles */
.hero {
      height: 674px;
      background: linear-gradient(rgba(65, 64, 64, 0.40), rgba(61, 60, 60, 0.40)),
      url("/assets/hero-bg.png");
      background-size: cover;
      background-position: center;
      color: white;
      padding: 134px 120px 134px 120px;
}

.hero-content {
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32;
}

.hero-badge {
  background: white;
  color: #469165;
  padding: 8px 12px;
  border-radius: 1000px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  gap: 6px;
}
.hero h1 {
      color: #ffffff;
      font-size: 72px;
      font-weight: 700;
      line-height: 84px;
      letter-spacing: 0%;
      text-align: center;
      opacity: 90%;
}
.hero span {
      color: #10b981;
}
.hero p {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: center;
}
.hero-buttons {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.btn {
  background: #469165;
  color: #fff;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn.outline {
  background: transparent;
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: white;
}