* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Header and Navigation Styles */
.logo img{
    width: 139px;
    height: 60px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    background-color: #ffffff;
}
nav {
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}
.nav-btn {
      background-color: #469165;
      border: none;
      border-radius: 4px;
      height: 44px;
      padding: 12px 16px;
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      cursor: pointer;

}  
/* Hero Section Styles */
.hero {
      height: 674px;
      background: linear-gradient(rgba(65, 64, 64, 0.40), rgba(61, 60, 60, 0.40)),
      url("/assets/hero-bg.png");
      background-size: cover;
      background-position: center;
      color: white;
      padding: 134px 120px 134px 120px;
}

.hero-content {
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32;
}

.hero-badge {
  background: white;
  color: #469165;
  padding: 8px 12px;
  border-radius: 1000px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  gap: 6px;
}
.hero h1 {
      color: #ffffff;
      font-size: 72px;
      font-weight: 700;
      line-height: 84px;
      letter-spacing: 0%;
      text-align: center;
      opacity: 90%;
}
.hero span {
      color: #10b981;
}
.hero p {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: center;
}
.hero-buttons {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.btn {
  background: #469165;
  color: #fff;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn.outline {
  background: transparent;
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: white;
}

/*Note section styles*/
/* note-section */
.note-section {
  background: #fbfbfb;
  height: 448px;
  padding: 0 120px 120px 120px;
  gap: 44px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.title{
  padding-top: 70px;
  margin-bottom: 44px;
}
.title h2{
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  color: #001931;
  text-align: center;
}
.subtitle {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.note-cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  
}

.card {
  height: 300px;
  width: 322px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0px 8px;
  background: #ffffff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  padding: 24px;
  gap: 16px;
  margin-bottom: 48px;
  
}
.card img{
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color: rgba(249, 85, 85, 1);
    padding: 15px 15px;
}  
.card h3{
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #001931;
  text-align: center;
}
.card p{
  color:#627382;
  font-size:16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
} 
/* Solution Section */
.solution {
  height: 840px;
  background-color: #ffffff;
  padding: 120px;
  gap: 40px
}
.solution-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
}

.brain img {
  width: 600px;
  height: 600px;
  border-radius: 12px;
}
.solution-features-box {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}

.label {
  color: #30B868;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.solution-text h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  color: #001931;
}
.solution-text p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 16px;
}
.solution-features ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px
}
.solution-features li {
  display: flex;
  align-items: center;
  gap: 6px;
}
.solution-features li p {
  color: #001931;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}